
New Unity Project/Logs/AssetImportWorker0.log
New Unity Project/Logs/shadercompiler-AssetImportWorker0.log
New Unity Project/Logs/shadercompiler-UnityShaderCompiler.exe0.log
New Unity Project/Logs/shadercompiler-UnityShaderCompiler.exe1.log
New Unity Project/Logs/shadercompiler-UnityShaderCompiler.exe2.log
New Unity Project/Temp/__Backupscenes/0.backup
New Unity Project/Temp/Assembly-CSharp.dll.hash
New Unity Project/Temp/CompilationLog.txt
New Unity Project/Temp/UnityTempFile-5804870f3ce178245bca79951eeb10a6
New Unity Project/Temp/UnityTempFile-fc3426c63ee7b5741a3913aeded8889b
New Unity Project/Temp/workerlic
New Unity Project/Logs/AssetImportWorker0-prev.log
New Unity Project/Logs/AssetImportWorker0.log
New Unity Project/Logs/shadercompiler-AssetImportWorker0.log
New Unity Project/Logs/shadercompiler-UnityShaderCompiler.exe0.log
New Unity Project/Logs/shadercompiler-UnityShaderCompiler.exe1.log
New Unity Project/Logs/shadercompiler-UnityShaderCompiler.exe2.log
